{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Share cafe recommendations for your cycle rides and find new ones to try"
    />
    <meta
      name="keywords"
      content="Cafe Stop, Cycling, Cyclist, Cafe, Connect, Coffee, Cake"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CDN v4.6.2 from https://www.bootstrapcdn.com/ -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/deoxxigyw/image/upload/c_thumb,w_200,g_face/v1702233159/Favicon_k3purp.png"
    />
    <title>Cafe Stop</title>
  </head>
  <body></body>
</html>
