{% extends 'base.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% block content %}

<section>
    <div class="container">
        <h1>Create a category for a post</h1>
        <!-- Create a post category form -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mt-3">
                <div class="mb-2">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}