{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
     <div class="row">
        <div class="col-12 mt-3 ">
            <h1> A list of cafes in '{{ catalist.cata }}' category </h1>
        </div>
        {% for post in catalist.posts %}
        <div class="col-md-4">
            <div class="card mb-3" box-shadow>
              <!-- Card body & detail -->
              <div class="card-body">
                <div class="image-container ">
                  {% if "placeholder" in post.featured_image.url %}
                  <img
                    class="card-img-top image-border"
                    aria-label="Placeholder image for post"
                    src="https://res.cloudinary.com/deoxxigyw/image/upload/v1702742414/alowvmw6lph1bcsmtp9d.jpg"
                  />
                  {% else %}
                  <img
                    class="card-img-top image-border"
                    aria-label="Featured image for post"
                    src=" {{ post.featured_image.url }}"
                  />
                  {% endif %}
                </div>
                <div class="image-flash">
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2></a>
                        <p class="author">Posted by: {{ post.author }}</p>
                        <hr />
                        <p id="card-info" class="card-text text-muted h6">
                            {{ post.created_on }} <strong class="text-secondary">
                                <i class="far fa-comments"></i> {{ post.comments.count }} | 
                                <i class="fa-solid fa-heart"></i> {{ post.number_of_likes }}
                            </strong>| Location: {{ post.location }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}