{% extends 'base.html' %} {% block content %}

<!-- Hero image and call to arms -->

<section id="hero" class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="py-4 py-md-0 w-100">
      <h1 class="pb-0 pb-lg-1 text-center">Cafe stops</h1>
      <p class="lead text-center">
        This is a place to share your favourite cafe stops from your bike rides.
        Whether that be for a cuppa, <em>second breakfast</em> or on those days
        when you just need a respite from the elements! Discover new cafes you
        didn't know about, share suggestions with friends or pick somewhere
        different on a favourite route
        <i class="fa-solid fa-bicycle"></i>
      </p>
    </div>
    <div class="py-4 py-md-0 w-100">
      <p class="lead text-center">
        {% if user.is_authenticated %}
        <a href="{% url 'browse' %}">Check out the cafe directory here...</a>
        {% else %}
        Sign up for a free account  <a aria-label="Link to register an account" href="{% url 'account_signup' %}">here</a> and join the community today!
        {% endif %}
      </p>
    </div>
  </div>
</section>

{% endblock %}
