{% extends 'base.html' %} 
{% load cloudinary %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %} 


<!-- Post details section -->
<section>
    <!-- Post details -->
    <div>
        <div class="container">
            <div class="row-g-8">
                <div class="col-6">
                    <h1><strong>{{ post.title }}</strong></h1>
                    <div class="text-secondary">
                        <p><strong>Posted by: {{ post.author }} / {{ post.created_on }}</strong></p>
                        <p> <strong>Location: {{ post.location | safe }} / Website: {{ post.website | safe }}</strong></p>
                        <p> <strong>Opens: {{ post.opening_time | safe }}</strong> / <strong>Closes: {{ post.closing_time | safe }}</strong></p>
                        <strong>Rating: <i class="fa-solid fa-heart"></i> {{ post.number_of_likes }}</strong>
                    </div>                    
                </div>
                <div class="container">
                    <div class="row-g-8>
                        <div class="col-6">
                            <h2> <strong>Cafe overview:</strong></h2>
                            <p>{{ post.content | safe }}</p>
                        </div>
                    </div>
                </div>    
                
                <!-- Post image -->
                <div class="row">
                    <div class="col- text-center">
                    {% if "placeholder" in post.featured_image.url %}
                    <img aria-label="Placeholder image for post" 
                    src="https://res.cloudinary.com/deoxxigyw/image/upload/v1702742414/alowvmw6lph1bcsmtp9d.jpg"/>
                    {% else %}
                    <img aria-label="Featured image for post" src=" {{ post.featured_image.url }}"/>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row-g-8">
            {% if user.is_authenticated %} 
            <a href="{% url 'update' post.slug %}" type="button" class="btn btn-secondary btn-lg"><i class="fa-solid fa-file-pen"></i> Update the post</a>
            <a href="{% url 'delete' post.pk  %}" type="button" class="btn btn-secondary btn-lg"><i
                    class="fas fa-trash"></i> Delete
                the post</a>
            {% endif %}            
        </div>
    </div>
</section>

<!-- Comments section -->
<section>
<div class="container">
    <div class="class my-3">
        {% with comments.count as total_comments %}
        {% if total_comments == 1 %}
        <h2><strong><i class="far fa-comments"></i> {{ total_comments }}</strong>
        Comment</h2>
        {% else %}
        <h2><strong><i class="far fa-comments"></i> {{ total_comments }}</strong>
        Comments</h2>
        {% endif %} 
        {% endwith %}
        <div>
            {% if commented %}
            <p class="alert alert-success" role="alert">
                Your comment has been sent for approval
            </p>
            {% else %}
            {% if user.is_authenticated %}
            <h3><strong>Share your thoughts:</strong></h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em">
                {{ comment_form | crispy }} {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
            </form>
            {% endif %} 
            {% endif %}
        </div>
        <div class="comment-container overflow-auto">
            {% for comment in comments %}
            <div class="comments" style="padding: 10px">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class="text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span>
                    wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row-g-8">
        {% if user.is_authenticated %}
        
                class="fa-solid fa-file-pen"></i>Update your Comment</a>
        {% endif %}
    </div>
</div>
</section>

{% endblock content %}

