{% extends 'base.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% block content %}

<section>
    <div class="container">
        <h1 class="pt-3">Create a post</h1>
        <!-- Create a post form -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mt-3">
                <div class="mb-2">
                    {{ form.title | as_crispy_field }}
                </div>
                <div>
                    {{ form.location | as_crispy_field }}
                </div>
                <div>
                    {{ form.opening_time | as_crispy_field }}
                </div>
                <div>
                    {{ form.closing_time | as_crispy_field }}
                </div>
                <div>
                    {{ form.website | as_crispy_field }}
                </div>
                <div>
                    {{ form.category | as_crispy_field }}
                </div>
                <div>
                    {{ form.content | as_crispy_field }}
                </div>
                <div>
                    {{ form.featured_image | as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-secondary btn-lg d-grid gap-2 col-6 mx-auto">Post</button>
                <div class="col-md-3 col-sm-6">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-warning btn-sec btn-lg m-1">Here by mistake? Go back</a>
                </div>
            </div>
        </form>

    </div>
</section>
{% endblock %}